/* styles.css */

.weekday-date-range-picker {
  position: relative;
}

.popover {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  z-index: 1000;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.popover .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar {
  display: grid;
  gap: 0.5rem;
}

.today.show {
  border: 1px solid #007bff;
}

.calendar-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.calendar-day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.calendar-day:hover,
.calendar-day.hovered {
  background-color: #007bff;
  color: #fff;
}

.calendar-day.empty {
  visibility: hidden;
}

.calendar-day.selected {
  background-color: #007bff;
  color: #fff;
}

.calendar-day.weekend {
  background-color: #f8f9fa;
  color: #868e96;
  cursor: not-allowed;
}

.calendar-day.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button {
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  outline: none;
}

button.primary {
  background-color: #007bff;
  color: #fff;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button.primary:hover {
  background-color: #0056b3;
}

button.outline {
  background-color: transparent;
  border: 1px solid #007bff;
  color: #007bff;
}

button.outline:hover {
  background-color: #007bff;
  color: #fff;
}

button.ghost {
  background-color: transparent;
  color: #007bff;
}

button.ghost:hover {
  color: #0056b3;
}

.weekday-date-range-picker .footer .actions {
  display: flex;
  justify-content: space-between;
}

.weekday-date-range-picker .footer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

select {
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.presets {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
